<template>
  <div :class="classObject">
    <ScheduleTimeRange
      class="business"
      :value="value.businessHours"
      :hasHours="value.hasBusinessHours"
      @input="changeBusinessHours"
      :isVisible="value.hasBusinessHours"
    />
    |
    <ScheduleTimeRange
      class="break"
      :value="value.breakHours"
      :hasHours="value.hasBreakHours"
      :isFlagFocused="isFlagFocused"
      @input="changeBreakHours"
    />
    <input
      type="checkbox"
      v-model="value.hasBreakHours"
      @focus="flagFocused"
      @blur="flagBlurred"
      @change="onFlagChange"
      ref="flag"
      v-show="value.businessHours.includes(value.breakHours)"
    />
  </div>
</template>

<script lang="ts">
import { Component, Emit, Prop, Vue } from 'vue-property-decorator'
import ScheduleTimeRange from '@/components/ScheduleTimeRange.vue'
import Day from '@/lib/Day';
import TimeRange from '@/lib/TimeRange';

@Component<ScheduleDay>({
  name: 'ScheduleDay',
  components: { ScheduleTimeRange },
})
export default class ScheduleDay extends Vue {
  @Prop(Day)
  readonly value!: Day

  isValid: boolean = true
  isFlagFocused: boolean = false

  get classObject() {
    return {
      day: true,
      invalid: !this.isValid,
      hasBreakHours: this.value.hasBreakHours,
    }
  }

  updated() {
    this.isValid = true
  }

  flagFocused() {
    this.isFlagFocused = true
  }

  flagBlurred() {
    this.isFlagFocused = false
  }

  onFlagChange(val: any) {
    this.$refs.flag.blur()
  }

  @Emit('input')
  changeBusinessHours(range: TimeRange) {
    const oldBusinessHours = this.value.businessHours
    try {
      this.value.businessHours = range
      this.isValid = true
      return this.value
    } catch (e) {
      console.error(e)
      this.isValid = false
      this.value.businessHours = oldBusinessHours
      return this.value
    }
  }

  @Emit('input')
  changeBreakHours(range: TimeRange) {
    const oldBreakHours = this.value.breakHours
    try {
      this.value.breakHours = range
      this.isValid = true
      return this.value
    } catch (e) {
      console.error(e)
      this.isValid = false
      this.value.breakHours = oldBreakHours
      return this.value
    }
  }
}
</script>

<style lang="css">
  .day {
    display: flex;
  }

  .day.invalid {
    color: orange;
  }
</style>
