import Weekday from '../lib/Weekday';
<template>
  <div class="schedule">
    <h1>Schedule</h1>
    <hr>
    <ScheduleDay
      :value="someWeek.base"
      @input="onDayInput"
    />
    <hr>
    {{ someWeek.base.businessHours.start.asTimeString }}
    -
    {{ someWeek.base.businessHours.end.asTimeString }}
    ({{ someWeek.base.hasBusinessHours }})
    |
    {{ someWeek.base.breakHours.start.asTimeString }}
    -
    {{ someWeek.base.breakHours.end.asTimeString }}
    ({{ someWeek.base.hasBreakHours }})
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import ScheduleDay from '@/components/ScheduleDay.vue'
import ScheduleTimeRange from '@/components/ScheduleTimeRange.vue';
import Day from '@/lib/Day'
import TimeRange from '@/lib/TimeRange';

@Component<Schedule>({
  name: 'Schedule',
  components: {
    ScheduleDay,
    ScheduleTimeRange,
  },
})
export default class Schedule extends Vue {
  // someDay: Day = new Day()
  someWeek = {
    base: new Day(),
    changed: false,
  }
  // someRange: TimeRange = new TimeRange()

  onDayInput(day: Day) {
    console.log(day.businessHours.asTimeRangeString)
    console.log(day.breakHours.asTimeRangeString)
    this.someWeek.base = day
    this.someWeek.changed = !this.someWeek.changed
  }
}
</script>
