<template>
  <div>
    <ScheduleTime
      ref="start"
      :value="value.start"
      @input="changeStart"
      @blurred="handleBlur"
      @focused="handleFocus"
      :class="classObject"
    />
    {{ separator }}
    <ScheduleTime
      ref="end"
      :value="value.end"
      @input="changeEnd"
      @blurred="handleBlur"
      @focused="handleFocus"
      :class="classObject"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Emit, Prop } from 'vue-property-decorator'
import Time from '@/lib/Time'
import ScheduleTime from '@/components/ScheduleTime.vue'
import TimeRange from '@/lib/TimeRange'
import { TIME_RANGE_SEPARATOR } from '@/config'

@Component<ScheduleTimeRange>({
  name: 'ScheduleTimeRange',
  components: { ScheduleTime },
})
export default class ScheduleTimeRange extends Vue {
  @Prop(TimeRange)
  readonly value!: TimeRange

  @Prop(Boolean)
  readonly hasHours!: boolean

  @Prop(Boolean)
  readonly isSameAsBase!: boolean

  @Prop(Boolean)
  readonly isFlagFocused!: boolean

  isFocused: boolean = false
  start: Time | undefined
  end: Time | undefined

  get isVisible() {
    return this.isFocused || this.hasHours || this.isFlagFocused
  }

  updated() {
    console.log('tyt')
    console.log(this.$vnode.data.staticClass)
    console.dir(this.$props.value.asTimeRangeString)
    console.log('tam')
  }

  handleBlur() {
    this.isFocused = false
  }

  handleFocus() {
    this.isFocused = true
  }

  get classObject() {
    return {
      visible: this.isVisible,
      grayed: this.isSameAsBase,
    }
  }

  changeStart(time: Time) {
    // @ts-ignore
    const $endInput: HTMLInputElement = this.$refs.end.$el
    this.start = time
    if (this.end || $endInput.value.toString()) {
      this.send(new TimeRange(this.start, this.end || this.value.end))
    } else {
      $endInput.focus()
      $endInput.setSelectionRange(0, $endInput.value.length)
    }
  }

  @Emit('input')
  send(range: TimeRange) {
    return range
  }

  changeEnd(time: Time) {
    // @ts-ignore
    const $startInput: HTMLInputElement = this.$refs.start.$el
    this.end = time
    if (this.start || $startInput.value.toString()) {
      this.send(new TimeRange(this.start || this.value.start, this.end))
    } else {
      $startInput.focus()
      $startInput.setSelectionRange(0, $startInput.value.length)
    }
  }

  get separator(): string {
    return TIME_RANGE_SEPARATOR
  }
}
</script>
