<template>
  <input
    type="text"
    @blur="blurred"
    @focus="focused"
    @keyup.enter="submit"
    :value="value.asCompactTimeString"
    :class="classObject"
    maxlength="5"
    pattern="\d{1,2}(:\d{2})?"
    style="width: 3.15em;"
  />
</template>

<script lang="ts">
import { Component, Vue, Emit, Prop } from 'vue-property-decorator'
import Time from '@/lib/Time'

@Component<ScheduleTime>({ name: 'ScheduleTime' })
export default class ScheduleTime extends Vue {
  @Prop(Time)
  readonly value!: Time

  isValid: boolean = true

  get classObject() {
    return {
      time: true,
      invalid: !this.isValid,
    }
  }

  updated() {
    this.isValid = true

    console.log('tyt TIME')
    console.log(this.$vnode.data.staticClass)
    console.dir(this.$props.value.asTimeString)
    console.log('tam TIME')
  }

  @Emit()
  blurred(e: any) {
    this.submit(e)
  }

  @Emit()
  focused() {}

  @Emit('input')
  submit(event: any) {
    try {
      const time = new Time(event.target.value)
      this.isValid = true
      return time
    } catch (e) {
      this.isValid = false
      return this.value
    }
  }
}
</script>

<style>
  .time:not(.visible) {
    color: transparent !important;
  }
  .time.grayed:not(.visible){
    color: lightgrey;
  }
</style>
