<template>
  <div id="app">
    <Schedule/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import Schedule from '@/components/Schedule.vue'

@Component<App>({ components: { Schedule } })
export default class App extends Vue {}
</script>

<style>
#app {
  font-family: system, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
